p {
    background-color: brown;
    padding: 30px 0px;
  }
  
  span {
      background-color: burlywood;
      padding:20px;
  }
#none {
    display: none;
}
#inline_block {
    display: inline-block;
}
a {
    background-color: blueviolet;
    text-align: center;
    padding:20px;
    display: block;
}
#flex {
    display: flex;
}