*{
    box-sizing: border-box;
}
#div1 {
    height: 50px;
    background-color: blueviolet;
}
#div2 {
    height: 300px;
    width: 30%;
    background-color: burlywood;
    float: left;
    padding: 100px;
}
#div3 {
    height: 300px;
    background-color: coral;
}