div {
    background-color: blue;
    padding: 30px;
    text-align: center;
}
div:hover {
    background-color: red;
}
input:focus {
    background-color: yellow;
}
p:first-child {
    color:yellow;
}